// Specific CSS for your home-page
.banner-mid-page {
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.banner-content {
  margin-bottom: 20px;
}
