.show-row{
  width: 100%;
}
.tool-container {
  // position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.tool-picture {
  flex-basis: 400px;
  min-height: 550px;
  background-size: cover !important;
  margin-right: 30px;
}
.tool-content {
  justify-content: space-around;
}
.tool-title {
  // position: relative;
  padding-bottom: 10px;
  h1 {
    font-weight: lighter;
  }
}
.tool-user {
  position: relative;
  display: flex;
  justify-content: space-between;
  // right: 10px;
  // top: 5px;
  // width: 55px;
  // border-radius: 50%;
}
.tool-user-pic {
  position: absolute;
  right: 10px;
  // top: 5px;
  width: 55px;
  border-radius: 50%;
}
.tool-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  strong {
    color: $green;
    font-weight: bold;
  }
}
.tool-description {
  margin-bottom: 30px;
}
.tool-form {
  padding: 15px;
  border: 1px solid #D3D4D6;
}
.tool-btn {
  background-color: $green;
  border: 1px solid $green;
  width: 100%;
}
.tool-btn:hover {
  opacity: 0.9;
  background-color: #66BC62;
  // color: #eef2f3;
  border-color: #66BC62;
}

