.show-row{
  width: 100%;
}
.tool-container {
  // position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.tool-picture {
  margin-top: 30px;
  flex-basis: 400px;
  min-height: 550px;
  background-size: cover !important;
  margin-right: 30px;
}
.tool-content {
  justify-content: space-around;
}
.tool-title {
  // position: relative;
  padding-bottom: 10px;
  h1 {
    font-weight: lighter;
  }
}
.tool-user {
  position: relative;
  display: flex;
  justify-content: space-between;
  // right: 10px;
  // top: 5px;
  // width: 55px;
  // border-radius: 50%;
}
.tool-user-pic {
  position: absolute;
  right: 10px;
  // top: 5px;
  width: 55px;
  border-radius: 50%;
  font-size: 40px;
}
.tool-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  strong {
    color: $green;
    font-weight: bold;
  }
}
.tool-description {
  margin-bottom: 30px;
}
.tool-form {
  padding: 15px;
  border: 1px solid #D3D4D6;
}
.tool-btn {
  background-color: $green;
  border: 1px solid $green;
  width: 100%;
}
.tool-btn:hover {
  opacity: 0.9;
  background-color: #66BC62;
  // color: #eef2f3;
  border-color: #66BC62;
}

.tool-navbar {
  padding-top: 20px;
}

.flexreviewmap {
  border-top: 1px solid #D3D4D6;
display:flex;
flex-direction:row;
flex-wrap:wrap;
margin-top: 30px;
justify-content: space-around;
margin-bottom: 40px;
margin-right: 50px;
margin-left: 50px;
}

.flexfirstitem {

padding: 10px 40px;
// border-right: 1px solid #848484;
// border-left: 1px solid #848484;
width: 50%;
  h2 {
    margin-left: 20px;
  }
}

.flexseconditem {
// flex-basis: 400px;
width: 50%;
padding: 10px 30px;
// background-color:#FFFFFF;
}


.flexseconditem ul li {
 list-style: none;
}


.flexseconditem hr{

  height: 1px;
  margin: 3 0;
  padding:0;
  color: #F00;
  background-color:#8e9eab ;
  border: 0;

}

hr {
  height: 2px;
  margin: 3 0;
  padding:0;
  color: #F00;
  background-color: #F00;
  border: 0;
}

@keyframes transition {
0%   { margin-left: -70px;
  opacity:0;
   }
100% { margin-left: 0;
  opacity:1;
   }
}

.letcomment{
width: 100%;
margin-top:20px;
background: #F7F8E0;
padding: 10px;
opacity:0;
animation: transition 1s ease-in-out 2s forwards;
}

.modal-content{
padding: 40px;

}
.btn-review {
  background-color: $green;
  border: 1px solid $green;
  color: white;
}
.btn-review:hover {
  opacity: 0.9;
  background-color: #66BC62;
  // color: #eef2f3;
  border-color: #66BC62;
}
