.user-infos {
  // margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.user-main-info {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  // border: 1px solid $green;
}
