.user-infos {
  // margin-top: 20px;
  // align-items: center;
  justify-content: space-around;
  display: flex;
}
.user-main-info {
  margin: 20px 0;
  justify-content: space-between;
  // border: 1px solid $green;
  max-width: 50%;
}
.user-pic {
  margin: 20px 0;
  height: 50vh;
}
