<!-- <div class="breaking-component">
  <div class="breaking-photo"></div>
  <div class="breaking-content">
    <h3>Découvrez comment vous pouvez vous aussi mettre en location les outils dont vous ne vous servez pas</h3>
    <p>Gagnez sur tous les plans</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div> -->

<div class="banner-mid-page" style="background-image: linear-gradient(-225deg, rgba(171, 186, 171, 0.04) 0%, rgba(255, 255, 255, 0.04) 50%), url('<%= cl_image_path("k4senaooat5ojjdi3rub", height: 600, crop: :fill, gravity: :center) %>');">
  <div class="banner-content">
    <h3>Découvrez comment vous pouvez vous aussi mettre en location les outils dont vous ne vous servez pas</h3>
    <p>Gagnez sur tous les plans</p>
    <a href="#" class="btn btn-primary btn-banner">En savoir plus</a>
  </div>
</div>
