<div class="breaking-component">
  <div class="breaking-photo"></div>
  <div class="breaking-content">
    <h3>Découvrez comment vous pouvez vous aussi mettre en location les outils dont vous ne vous servez pas</h3>
    <p>Gagnez sur tous les plans</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>
