<div class="user-infos">
  <div class="user-main-info">
    <div class="user-name">
      <h3><%= current_user.name %></h3>
      <h4><%= current_user.address %></h4>
    </div>
    <div class="user-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat velit scelerisque in dictum non consectetur a erat nam. Tempor id eu nisl nunc mi ipsum faucibus. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant.</p>
    </div>
  </div>
  <div class="user-pic">
    <%= cl_image_tag current_user.photo, crop: :fill %>
  </div>
</div>

