<div class="user-infos">
  <div class="user-main-info">
    <div class="user-name">
      <h4><%= current_user.name %></h4>
      <p><%= current_user.address %></p>
    </div>
    <div class="user-pic">
      <p>coucou</p>
      <img src="" alt="">
    </div>
  </div>
  <div class="user-description text-center">
    <p>blalalalalalalalalalalalalalalalalalalalaaalaalalalalalalalalaalalal</p>
  </div>
</div>

