<div class="cartouche-commentaire">
<% @reviews.each do |review| %>
<div>
<ul>
<li><%= review.feedback %></li>
<li> Rating
<% review.rating.to_i.times do  %>
<span class="glyphicon glyphicon-star"></span>
<% end %>
</li>
</ul>
<hr>
<% end %>

</div>

