

<div class="container profil-nav">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs profil-nav-tab" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h3>My Profile</h3></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h3>My Tools</h3></a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><h3>My Reservations</h3></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content profil-nav-content">
    <div role="tabpanel" class="tab-pane active" id="home"><%= render 'shared/my_profil' %></div>
    <div role="tabpanel" class="tab-pane" id="profile"><%= render 'shared/my_tools' %></div>
    <div role="tabpanel" class="tab-pane" id="messages"><%= render 'shared/my_reservations' %></div>
  </div>

</div>




