<%= current_user.name %>

<div class="tabs">
  <a class="tab active" href="#">
    <h3>My Profil</h3>
  </a>
  <a class="tab" href="#">
    <h3>My Tools</h3>
  </a>
  <a class="tab" href="#">
    <h3>My Reservations</h3>
  </a>
</div>
