.btn-banner {
  background-color: #eef2f3;
  border-color: #eef2f3;
  border-radius: 5px;
  color: #8e9eab;
}
.btn-banner:hover {
  opacity: 0.9;
  background-color: #8e9eab;
  color: #eef2f3;
  border-color: #8e9eab;
}
